@font-face {
  font-family: myFont;
  src: url(VCR_OSD_MONO_1.001.ttf);
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  background-image: url("dogImage.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: left;
}

img {
  height: 100%;
  width: auto;
}

.barContainer {
  height: 100%;
  width: 100%;

  list-style: none;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  margin-right: 3rem;
}

.bar li {
  list-style: none;
}

.bar li a {
  width: 10rem;
  height: 10rem;

  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  color: aqua;
  font-size: 1.5rem;

  border: 0.5rem solid red;
  border-radius: 50%;

  background-color: black;
}

.bar li a:hover {
  border: 0.5rem solid beige;
  color: red;
}

.name {
  color: yellow;
  font-size: 10rem;
  font-family: myFont;
  font-weight: 900;
  text-shadow: 5px 5px black;
}
