body {
  margin: 0;
  padding: 0;
  background: black;
}
.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 3fr 1fr;
  height: 100vh;
}
.item {
  color: beige;
  /* border: 1px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Section 1 */
/* bar1 */
.containerB1 {
  height: 100%;
  width: 100%;

  list-style: none;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;

  margin: 1em;
}

.bar1 li a {
  width: 10rem;
  height: 10rem;

  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  color: aqua;
  font-size: 2rem;

  border: 0.5rem solid red;
  border-radius: 50%;
}

.bar1 li a:hover {
  border: 0.5rem solid beige;
  color: red;
}

/* Section 2 */
.containerMain {
  border: 0.5em solid red;
  margin: 1em;

  height: 90%;
  width: 90%;
}
