body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 3fr 1fr;
  height: 100vh;
}
.item {
  border: 1px solid blue;
  display: flex;
  align-items: center;
  justify-content: center;
}
