body {
  margin: 0;
  padding: 0;
  background: black;
}
.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 3fr 1fr;
  height: 100vh;
}
.item {
  color: beige;
  border: 1px solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* bar1 */
.containerBar1 {
  height: 100%;
  width: 100%;

  list-style: none;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;

  margin: 1em;
}

.bar1 li {
  width: 10rem;
  height: 10rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 0.5em solid red;
  border-radius: 50%;
}
