body {
     background-color: rgb(10, 10, 10);
     color: green;
     font-family: "Lucida Console", "Courier New", monospace;
}

pre {
     display: flex;
     justify-content: center; 
     align-items: center; 
     font-weight: bold;
}

#myName {
     color: greenyellow;
     font-weight: 100px;
     font-weight: bold;;
     font-size: 1vw
}

.homeLinks {
  text-decoration: none; 
  color: cyan;
  font-size: 1vw;
}

.homeLinks:hover {
     text-decoration: none;
     color: red;
}

a {
     text-decoration: none; 
     color: cyan;
     overflow:scroll;
}

a:hover {
     text-decoration: none;
     color: red;
}


.outerFrame {
     display: flex;
     justify-content: center;
     align-items: center;
}
.frame {
     width: 80%;
     height: 80%;
     padding: 20px;
     margin: 20px;
     border: 10px solid red;
     color: beige;
}

h1 {
     color: blueviolet;
}

h3 {
     color: yellow;;
}
